body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    padding: 1em;
}

button {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

#result {
    margin-top: 1em;
}

#about {
    width: 30%;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}
nav {
    background: #1974be;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #111;
    border-radius: 10px;
}
.dictionary-container {
    width: 70%;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#search-input {
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
    
}

#search-btn {
    background-color: #087a0896;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
}

#search-btn:hover {
    background-color:rgb(19, 94, 179);
}


#comments-section {
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(45deg, #ffffff, #f2f2f2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #333;
}

#comments-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comments-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

#comments-form input[type="submit"] {
    background-color: #087a0896;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#comments-form input[type="submit"]:hover {
    background-color:rgb(19, 94, 179);
}

#comments-list {
    text-align: left;
    margin-top: 20px;
}

#comments-list p {
    margin: 0 0 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding:2px ;
    position:relative;
    bottom: 0;
    width: 100%;
}

footer h2 {
    margin-bottom: 10px;
}

footer p {
    margin: 0;
    font-size: 16px;
}
#result {
    text-align: left;
    margin-top: 20px;
    position: relative;
}

#result h3 {
    color: #333;
    font-size: 30px;
}

#result p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}
#result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#result .details {
    display: flex;
    gap: 8px;
    color: #b3b6d4;
    margin: 0 0 10px 0;
    font-size: 14px;
}
#result .word-meaning {
    color:#5a5454;
}
#result .word-example {
    color: #575757;;
    font-style: italic;
    border-left: 5px solid rgba(21, 141, 47, 0.26) ;
    padding-left: 20px;
    margin-top: 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 96%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Set a style for all buttons */
.btn {
    background-color: rgba(18, 19, 19, 0.76);
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    border-radius: 10px;
}
  
  button:hover {
    opacity:1;
    background-color: black;
}
  
  /* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
  
  /* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}
  
  /* Add padding to container elements */
.container {
    padding: 16px;
}
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
  /* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
  
.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}
  
  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
  /* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
}
  